body {
    background: url(../img/dema1-min.png) no-repeat center / cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    font-family: Compacta;
    font-size: 16px;
}
nav{
    background: url(../img/background-min.png) no-repeat center top / cover;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.container1 {
    width: 45%;
    max-width: 650px;
    margin: 0 auto;
    
}
.title {
    background: url(../img/YELLOWTAPE-Menu.png) no-repeat center top;
    font-family: "Compacta";
    font-size: 1em;
    margin-bottom: 1%;
    margin-top:1%;
    padding: 1% 1%;
}
   /* на sm */
   @media (min-width: 480px) {
        
    .title {
      font-size: 1.5em;
  }
        }
        /* на md */
        @media (min-width: 992px) {
          
            .title {
      font-size: 2em;
  }
        }
        /* на lg */
        @media (min-width: 1200px) {
          
            .title {
      font-size: 2em;
  }
}
nav li{
    display: inline;
    margin-left: 0.5%;
    font-size: 1em;
    font-family: "Compacta";
    padding-top: 1%;
}
nav li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase; 
}
ul {
  text-align: center;
  list-style: none;
  padding-right: 15%;
}
/* на sm */
@media (min-width: 480px) {
    ul {
      padding-right: 10%;
    }
  }
  /* на md */
  @media (min-width: 992px) {
    ul {
      padding-right: 5%;
    }
  }
  /* на lg */
  @media (min-width: 1200px) {
    ul {
    }
  }
.tab {
    overflow: hidden;
    border: none;
    background: url(../img/background.png) no-repeat center top / cover;
    font-family: "Compacta";
    font-size: 0.5em;
  }
    /* на sm */
    @media (min-width: 480px) {
        .tab {
          font-size: 0.8em;
        }
      }
      /* на md */
      @media (min-width: 992px) {
        .tab {
          font-size: 0.8em;
        }
      }
      /* на lg */
      @media (min-width: 1200px) {
        .tab {
          font-size: 0.8em;
        }
      }
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    display: inline;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1% 1%;
    transition: 0.3s;
    font-family: "Compacta";
    width: 2.5%;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: transparent;
    opacity: 0.5;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #FCE300;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 1%;
    border: 1px solid #FCE300;
    border-top: none;
    background-image: url(../img/trenc1.png);
  }
  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  .articles li a{
    display: block;
    color: #FCE300;
    text-decoration: none;
    text-transform: uppercase; 
    font-family: "Compacta";
    font-size: 0.5em;
  }
   /* на sm */
   @media (min-width: 480px) {
        
    .articles li a {
      font-size: 0.7em;
  }
        }
        /* на md */
        @media (min-width: 992px) {
          
    .articles li a {
      font-size: 1em;
  }
        }
        /* на lg */
        @media (min-width: 1200px) {
          
    .articles li a {
      font-size: 1em;
  }
        }
iframe {
        width: 90%;
        height: 45%;
    }

    .wrapper-with-intrinsic-ratio {
        position: relative;
        padding-bottom: 50%;
        height: 0;
    }
    .element-to-stretch {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;	
    }

    header{
        /*margin-top: 200px;*/
        font-family: Compacta, sans-serif;
       }
       .dws-menu *{
        margin: 0;
        padding: 0;
       }
       .dws-menu ul,
       .dws-menu ol{
        list-style: none;
       }
       .dws-menu > ul{
        display: flex;
        justify-content: center;
       }
       .dws-menu > ul li{
        position: relative;
        border-right: 1px solid #FCE300;
       }
       .dws-menu > ul li:first-child{
        border-left: 1px solid #FCE300;
       }
       .dws-menu > ul li:last-child{
        border-right: 1px solid #FCE300;
       }
       .dws-menu > ul li > a i.fa{
        position: absolute;
        top: 15px;
        left: 12px;
        font-size: 18px;
       }
       .dws-menu > ul li a{
        display: block;
        background: #FCE300; 
       
        padding: 15px 30px 15px 40px;
        font-size: 14px;
        color: #000000;
        text-decoration: none;
        text-transform:uppercase;
        transition: all 0.3s ease;
       }
       .dws-menu li a:hover{
        background: #FCE300
       
        color: #ffffff;
        box-shadow: 1px 5px 10px -5px black;
        transition: all 0.3s ease;
       }
       
       
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
@font-face {
    font-family: "Compacta"; 
    src: url("../fonts/compacta/compacta_black_bt.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 